<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/login" method="post"> 
      <div class="grid-container">
        <div class="item1">
          <div>
            <ul style="display: flex; background-color: #4bf492;">
              <li><a href="#" style="font-weight: bold; text-align: left;">CAMPUS MANAGER</a></li>
              <li><a href="#">Login</a></li>              
              <li><a href="#">signup</a></li>              
            </ul>

          </div>

          <div>
            <h1 style="margin-left: 20px; margin-bottom: 0px; font-weight: bold; text-align: left;"><%= title %></h1>
          </div>
        </div>
        <div class="item2">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">시간표</a></li>
            <li><a href="#">과제</a></li>
            <li><a href="#">강의계획서</a></li>
            <li><a href="#">수강신청</a></li>
            <li><a href="#">공지사항</a></li>
            <li><a href="#">성적</a></li>
            <li><a href="#">자료실</a></li>
          </ul>

        </div>
        <div class="item3">
          <h2 style="margin-left: 20px; font-weight: bold; text-align: left;">로그인</h2>
          <table style=" margin-bottom: 20px; margin-left: 10px; padding:20px; box-sizing: border-box;">
            <tr>
              <td style="width:70px;">아이디 <span>*</span> </td>
              <td style="text-align: left;"><input type="text" style="width: 200px; " name ="id" id="id" required></td>
            </tr>
    
            <tr>
              <td >비밀번호 <span>*</span> </td>
              <td style="text-align: left; "><input type="password" style="width: 200px;" name ="password" id="password" required></td>
            </tr>
    
            <tr>
              <td >직업</td>
              <td style="text-align: left;">
                <select name = "role" id = "who" style="width: 100px;">
                  <option value="student">학생</option>
                  <option value="professor">교수</option>
                </select>
              </td>
            </tr>
          
          </table>
        
        

          <p margin = "10px" text-align="center"><input class="btn reverse" type="submit" value="로그인"></a></p>
          <a href="/signup" style="font-size: 15px;">SignUp</a>

        </div>  
        <div class="item4">Right

        </div>
      </div>

    </form>
  </body>
</html>
