<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= notice.bod_title %></h1>
    <p><%= notice.bod_content %></p>
    <a href="/noticeboard">Back to Notice Board</a>
</body>
</html>
